<aside id="left-panel">

  <!-- User info -->
  <div class="login-info">
    <span> <!-- User image size is adjusted inside CSS, it should stay as is -->
      <% if current_user %>
        <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
          <span>
            <%= current_user.email %>
          </span>
          <i class="fa fa-angle-down"></i>
        </a>
      <% else %>
        <a href="<%= new_user_session_path %>">
          <span>
            Please Sign In
          </span>
        </a>
      <% end%>
    </span>
  </div>
  <!-- end user info -->

  <nav>

  <ul>
    <li class="">
    <a href="/dashboard.html" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
    </li>

    <li>
    <a href="ajax/calendar.html"><i class="fa fa-lg fa-fw fa-calendar"><em>3</em></i> <span class="menu-item-parent">Calendar</span></a>
    </li>

    <li>
    <a href="ajax/finances.html"><i class="fa fa-lg fa-fw fa-dollar"></i> <span class="menu-item-parent">Finances</span></a>
    </li>

    <li>
    <a href="/users.html"><i class="fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent">Users</span></a>
    </li>

    <li>
    <a href="ajax/documents.html"><i class="fa fa-lg fa-fw fa-file-text-o"></i> <span class="menu-item-parent">Documents</span></a>
    </li>

    <li>
    <a href="ajax/announcements.html"><i class="fa fa-lg fa-fw fa-comments"><em>2</em></i> <span class="menu-item-parent">Events</span></a>
    </li>

  </ul>
  </nav>

  <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

  </aside>
