<aside id="left-panel">

  <div class="login-info">
    <span>
      <% if current_user %>
        <a href="#" data-toggle="dropdown">
          <span>
            <%= current_user.email %>
          </span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="logout">Logout</a></li>
        </ul>
      <% else %>
        <a href="<%= new_user_session_path %>">
          <span>
            Please Sign In
          </span>
        </a>
      <% end%>
    </span>
  </div>

  <nav>

  <ul>
    <li class="">
    <a href="/dashboard.html" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
    </li>

    <li>
    <a href="/announcements"><i class="fa fa-lg fa-fw fa-bullhorn"></i> <span class="menu-item-parent">Announcements</span></a>
    </li>

    <li>
    <a href="/calendar"><i class="fa fa-lg fa-fw fa-calendar"></i> <span class="menu-item-parent">Calendar</span></a>
    </li>

    <% if current_user && current_user.organization.has_financial_provider? %>
      <li>
      <a href="<%= current_user.organization.financial_provider.external_url %>"><i class="fa fa-lg fa-fw fa-dollar"></i> <span class="menu-item-parent">Finances</span></a>
      </li>
    <% else %>

    <% end %>

    <li>
    <a href="/users"><i class="fa fa-lg fa-fw fa-group"></i> <span class="menu-item-parent">Users</span></a>
    </li>

    <li>
    <a href="/documents"><i class="fa fa-lg fa-fw fa-file-text-o"></i> <span class="menu-item-parent">Documents</span></a>
    </li>

  </ul>
  </nav>

  <span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

  </aside>
