<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa fa-fw fa-bullhorn"></i>
      Document
    </h1>
    <div class="jarviswidget">
      <header><h2><%= @document.title %></h2></header>
      <div class="content">
        <div class="widget-body">
      <p><%=@document.created_at.strftime("%m/%d/%Y")%> - <%=@document.user.full_name%></p>
          <%= raw @document.html_body %>
        </div>
      </div>

    </div>
  </div>
</div>
